body {
    background-color: #025369;
    font-family: Helvetica, sans-serif;
}

h1 {
    color: white;
    text-align: center;
    margin-bottom: 25px;
    
}

section {
    background-color: white;
    margin: auto;
    padding: 15px;
    border-radius: 10px;
    max-width: 500px;
}

div {
    text-align: center;
    padding: 10px;
}

footer {
    color: white;
    text-align: center;
    margin-top: 25px;
}